@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|PT+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);
@import 'fa.css';
/*------------------------------*/
html,
body {
    height: 100%;
}
body {
    margin: 0;
    min-width: 1000px;
    position: relative;
    font: 16px/1.3 'PT Sans', sans-serif;
    background: #ffd19f;
    color: #443b40;
}
body:before {
    content: '';
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #bed017;
}
.hh,
.h,
h1,
h2 {
    margin: 33px 0 40px;
    padding: 0 0 25px;
    position: relative;
    font: bold 48px/1.2 'Roboto Slab', sans-serif;
    color: #ffb97b;
}
.h {
    margin-top: 85px;
    line-height: 1.25;
}
h1:first-child,
h2:first-child {
    margin-top: -10px;
}
.h:after,
h1:after,
h2:after {
    content: '';
    width: 30px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #443b40;
}
.h span,
h1 span,
h2 span {
    color: #443b40;
}
.hh {
    margin: 0 0 35px;
    padding: 0;
    line-height: 1.25;
    color: #443b40;
}
.hh span {
    color: #ffba7c;
}
h2 strong {
    padding-bottom: 18px;
    display: block;
    color: #443b40;
}
p {
    margin: 0 0 20px;
}
blockquote {
    margin: 0 auto;
    width: 69%;
    position: relative;
    text-align: center;
    font-style: italic;
    font-family: 'PT Serif', sans-serif;
}
blockquote:before,
blockquote:after {
    margin-top: -27px;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    font: bold 48px/48px 'Roboto Slab', sans-serif;
    color: #ffba7c;
}
blockquote:before {
    content: '«';
    right: 100%;
}
blockquote:after {
    content: '»';
    left: 100%;
}
blockquote span {
    color: #ffba7c;
}
.link,
a {
    text-decoration: underline;
    color: #443b40;
    outline: 0;
    cursor: pointer;
}
.link:hover,
.link:active,
.link:focus,
a:hover,
a:active,
a:focus {
    color: #d1595a;
}
/*------------------------------*/
.grid {
    margin-right: -20px;
    margin-left: -20px;
    position: relative;
}
.grid:before,
.grid:after {
    content: ' ';
    display: table;
}
.grid:after {
    clear: both;
}
.grid__item {
    padding-right: 20px;
    padding-left: 20px;
    min-height: 1px;
    width: 50%;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.grid_n {
    margin-right: 0;
    margin-left: 0;
}
.grid_n
.grid__item {
    padding-right: 0;
    padding-left: 0;
}
.grid_region
.grid__item {
    padding-right: 27px;
    padding-left: 27px;
    width: 33.33333333%;
}
.grid_4 {
    margin-right: 0;
    margin-left: 0;
    padding: 0 90px;
    box-sizing: border-box;
    position: relative;
}
.grid_4
.grid__item {
    width: 25%;
}
/*------------------------------*/
.menu {
    position: relative;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
}
.menu li li:last-child,
.menu li {
    margin: 0;
    padding: 0 0 0 10px;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    font: 12px/1.3 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
}
.menu li:first-child {
    padding-left: 0;
}
.menu li:last-child {
    padding-left: 45px;
    position: relative;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.1;
    color: #fff;
}
.menu li:last-child:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    border-left: 1px solid #fff;
}
.menu li li:last-child:before {
    display: none;
}
.menu li li:last-child:after {
    content: '|';
    padding-left: 10px;
    color: #443b40;
}
.menu span {
    display: block;
    font-size: 21px;
    color: #443b40;
}
.menu a {
    color: #fff;
}
.menu a:hover,
.menu a:active,
.menu a:focus {
    color: #d1595a;
}
.menu li li a {
    color: #443b40;
}
.menu li li a:hover,
.menu li li a:active,
.menu li li a:focus {
    color: #d1595a;
}
/*------------------------------*/
.menu_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9;
}
.menu_fixed li:last-child {
    color: #a19d9f;
}
.menu_fixed li:last-child:before {
    border-left: 1px solid #443b40;
}
.menu_fixed a {
    color: #a19d9f;
}
.menu_fixed a:hover,
.menu_fixed a:active,
.menu_fixed a:focus {
    color: #d1595a;
}
/*------------------------------*/
.menu_hide {
    background: none;
}
.menu_hide ul {
    display: none;
}
/*------------------------------*/
.menu-passive,
.menu-active {
    width: 60px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 30px;
    display: none;
    background: #bfcf14;
    cursor: pointer;
}
.menu-active {
    background: #bfcf14 url(../img/menu-active.jpg) center center no-repeat;
}
.menu-passive {
    background: #bfcf14 url(../img/menu-passive.jpg) center center no-repeat;
}
/*------------------------------*/
.header {
    min-height: 70px;
    position: relative;
    z-index: 1;
    background: #bed017;
}
/*------------------------------*/
.wrapper {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 1000px;
    position: relative;
    box-sizing: border-box;
}
/*------------------------------*/
.skew {
    padding-top: 100px;
    padding-bottom: 50px;
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
}
/*------------------------------*/
.face-index {
    background: url(../img/face-index.jpg) 100% 96% no-repeat;
}
/*------------------------------*/
.anchor {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
}
/*------------------------------*/
.footer {
    padding: 85px 0 25px;
}
/*------------------------------*/
.copir {
    margin: 0 0 40px;
    font-weight: bold;
    text-transform: uppercase;
}
/*------------------------------*/
.frame {
    margin-top: -1px;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
}
/*------------------------------*/
.frame_white {
    background: #f6f6f6 url(../img/frame_gray.png);
}
/*------------------------------*/
.frame_green {
    background: #bed017;
}
.frame_green .h,
.frame_green h1,
.frame_green h2 {
    color: #443b40;
}
.frame_green .h:after,
.frame_green h1:after,
.frame_green h2:after {
    background: #fff;
}
.frame_green .h span,
.frame_green h2 strong,
.frame_green h1 span,
.frame_green h2 span {
    color: #fff;
}
.frame_green .btn {
    border: 2px solid #443b40;
    background: #bed017;
}
/*------------------------------*/
.frame_brown {
    background: #443b40;
    color: #fff;
}
.frame_brown h1,
.frame_brown h2 {
    color: #ffd19f;
}
.frame_brown h1:after,
.frame_brown h2:after {
    background: #fff;
}
.frame_brown h2 strong,
.frame_brown h1 span,
.frame_brown h2 span {
    color: #fff;
}
.frame_brown p strong {
    color: #ffd19f;
}
.frame_brown .link,
.frame_brown a {
    color: #ffd19f;
}
.frame_brown .link:hover,
.frame_brown .link:active,
.frame_brown .link:focus,
.frame_brown a:hover,
.frame_brown a:active,
.frame_brown a:focus {
    color: #d1595a;
}
/*------------------------------*/
.part-1 {
    padding: 3px 0 0;
    font: normal 18px/1.28 'Roboto Slab', sans-serif;
    color: #fff;
}
.part-2 {
    font: normal 24px/1.22 'Roboto Slab', sans-serif;
}
.part-2 span {
    color: #fff;
}
.part-3 {
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
}
.part-4 {
    padding: 16px 0 0 20px;
    position: relative;
    font-style: italic;
    font-size: 14px;
    line-height: 1.2;
}
.part-4:before {
    content: '*';
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 26px;
}
.part-5 {
    margin: 0;
    font: bold 24px/1.22 'Roboto Slab', sans-serif;
}
.part-5 span,
.part-5 strong {
    color: #ffba7c;
}
.part-6 {
    margin-bottom: 40px;
    font: bold 18px/1.28 'Roboto Slab', sans-serif;
}
.part-6 strong {
    color: #fff;
}
.part-7 {
    margin-top: -13px;
    width: 69%;
    font-style: italic;
    font-family: 'PT Serif', sans-serif;
}
.part-8 {
    font: italic 14px/1.29 'PT Serif', sans-serif;
}
.part-9 {
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
}
.part-center {
    margin-left: auto;
    margin-right: auto;
    width: 69%;
}
.part-left {
    width: 50%;
}
.part-mb20 {
    margin-bottom: 20px;
}
.part-mb40 {
    margin-bottom: 40px;
}
/*------------------------------*/
.face-text {
    margin: 125px auto 110px;
    padding-left: 30px;
    width: 69%;
    box-sizing: border-box;
    position: relative;
}
.face-text:after {
    content: '';
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: 0;
    border-left: 5px solid #ffba7c;
}
.face-text h3 {
    margin: -2px 0 25px;
    padding: 0;
    font: 24px/1.2 'Roboto Slab', sans-serif;
    color: #ffb97b;
}
/*------------------------------*/
.dashboard {
    margin: 5px 0 0;
    float: left;
    border: solid #ffd19f;
    border-width: 5px 0;
    font: bold 16px/1.5 'Roboto Slab', sans-serif;
    color: #fff;
}
.dashboard__table {
    display: table;
}
.dashboard__2,
.dashboard__1 {
    padding: 14px 0;
    vertical-align: top;
    display: table-cell;
}
.dashboard__1 {
    padding-top: 9px;
    padding-right: 25px;
    font-size: 64px;
    line-height: 1;
    color: #ffd19f;
}
.dashboard__2 {
    padding-right: 10px;
}
.dashboard__line {
    padding: 28px 0 42px;
}
.dashboard__line span {
    display: block;
    font-weight: normal;
    line-height: 1;
    color: #bed017;
}
.dashboard__line strong {
    display: block;
    font-size: 64px;
    line-height: 1.2;
    color: #bed017;
}
/*------------------------------*/
.term {
    font: bold 24px/1.22 'Roboto Slab', sans-serif;
}
.term p {
    margin: -5px 0 50px;
    color: #bed017;
}
.term ul {
    margin: 0 0 43px;
    padding: 0 90px;
    width: 100%;
    height: 90px;
    position: relative;
    box-sizing: border-box;
    list-style: none;
}
.term ul:before {
    content: '';
    margin-top: -1px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #bed017;
}
.term li {
    margin: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    border-radius: 80px;
    border: 5px solid #bed017;
    background: #f6f6f6 url(../img/frame_gray.png);
    line-height: 80px;
}
.term li:nth-child(1) {
    left: 0;
}
.term li:nth-child(2) {
    margin-left: 45px;
    left: 25%;
}
.term li:nth-child(3) {
    margin-left: -135px;
    left: 75%;
}
.term li:nth-child(4) {
    right: 0;
}
/*------------------------------*/
.number {
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    color: #bed017;
}
/*------------------------------*/
.region p {
    margin: 23px 0 4px;
    padding: 0 0 0;
    font: bold 24px/1.2 'Roboto Slab', sans-serif;
    color: #ffb97b;
}
.region ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.region li {
    margin: 0 0 4px;
}
/*------------------------------*/
.face {
    padding: 17px 0 0;
}
.face h2 {
    margin: 63px 0 25px;
    padding: 0;
    font: 24px/1.2 'Roboto Slab', sans-serif;
    color: #ffb97b;
}
.face h2:after {
    display: none;
}
.face__left,
.face__right {
    border: 0;
    display: block;
}
.face__left {
    margin-left: -40px;
}
.face__right {
    margin-right: -40px;
}
.face__content {
    padding-left: 30px;
    position: relative;
}
.face__content:after {
    content: '';
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: 0;
    border-left: 5px solid #ffba7c;
}
.face__bq {
    padding-top: 28px;
    font: bold 24px/1.2 'Roboto Slab', sans-serif;
}
.face__bq span {
    color: #ffba7c;
}
/*------------------------------*/
.form {
    padding: 6px 0;
}
.textarea,
.input {
    margin: 0 0 20px;
    padding: 0 10px;
    height: 50px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    font: normal 16px/1.3 'PT Sans', sans-serif;
    border: 1px solid #fff;
    background: #fff;
    color: #443b40;
    outline: 0;
}
.textarea {
    padding: 14px 10px;
    height: 190px;
    overflow: auto;
    resize: vertical;
}
.textarea::-moz-focus-inner,
.input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.textarea_error,
.input_error {
    border: 2px solid #d1595a;
}
.btn {
    margin: 10px 0 0;
    padding: 0 10px;
    height: 50px;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    font: bold 24px/1.2 'PT Sans', sans-serif;
    border: 0;
    background: #ffd19f;
    color: #443b40;
    outline: 0;
    cursor: pointer;
}
/*------------------------------*/
.work h2 {
    margin: 0 0 32px;
    padding: 0;
    font-size: 24px;
    line-height: 1.2;
}
.work h2:after {
    display: none;
}
.work table {
    margin: 0 0 36px;
    width: 100%;
    border-collapse: collapse;
    border-top: 5px solid #ffd19f;
}
.work th {
    padding: 26px 10px 21px;
    text-align: left;
    font: bold 18px 'Roboto Slab', sans-serif;
    white-space: nowrap;
    color: #ffd19f;
}
.work th:nth-child(4) {
    width: 1%;
}
.work td {
    padding: 6px 10px;
    border-top: 10px solid #443b40;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    color: #fff;
}
.work tr:nth-child(even) td {
    background: #574f53;
}
.work tr:hover td {
    background: #ffd19f;
    color: #443b40;
}
.work a {
    padding-right: 16px;
    width: 430px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
.work tr:hover a {
    background: url(../img/work.png) right center no-repeat;
    color: #443b40;
}
.work tr:hover a:hover,
.work tr:hover a:active,
.work tr:hover a:focus,
.work a:hover,
.work a:active,
.work a:focus {
    color: #d1595a;
}
/*------------------------------*/
.paginator:before,
.paginator:after {
    content: ' ';
    display: table;
}
.paginator:after {
    clear: both;
}
.paginator div {
    margin: 0 0 8px;
    padding: 0 0 15px;
    float: left;
    border-bottom: 5px solid #ffd19f;
    font: bold 24px 'Roboto Slab', sans-serif;
    white-space: nowrap;
}
.paginator div span {
    color: #ffd19f;
}
.paginator ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none;
}
.paginator li {
    margin: 0;
    float: left;
    font-weight: bold;
    color: #574f53;
}
.paginator li:first-child:after {
    content: '|';
    padding: 0 13px;
}
/*------------------------------*/
.banner {
    margin: 86px 0 64px;
    height: 350px;
    position: relative;
}
.banner__motto {
    position: absolute;
    top: 83px;
    left: -110px;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.banner__s {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    position: absolute;
    left: 20px;
    cursor: pointer;
}
.banner__s1 {
    top: 0;
    background: url(../img/banner__s1.png);
}
.banner__s2 {
    top: 90px;
    background: url(../img/banner__s2.png);
}
.banner__s3 {
    top: 180px;
    background: url(../img/banner__s3.png);
}
.banner__s4 {
    top: 270px;
    background: url(../img/banner__s4.png);
}
.banner__s0 {
    background: #ffb97b;
    cursor: default;
}
.banner__i {
    width: 501px;
    height: 662px;
    position: absolute;
    top: -162px;
    right: -50px;
    z-index: -1;
    display: none;
}
.banner__i1 {
    background: url(../img/banner__i1.jpg);
}
.banner__i2 {
    background: url(../img/banner__i2.jpg);
}
.banner__i3 {
    background: url(../img/banner__i3.jpg);
}
.banner__i4 {
    background: url(../img/banner__i4.jpg);
}
.banner__i0 {
    display: block;
}
.banner__t {
    width: 370px;
    position: absolute;
    top: 80px;
    left: 140px;
    display: none;
}
.banner__t0 {
    display: block;
}
.banner__t h3 {
    margin: 0 0 27px;
    padding: 0;
    font: bold 24px/1.2 'Roboto Slab', sans-serif;
    color: #ffb97b;
}
.banner__bb,
.banner__bt {
    width: 40px;
    height: 33px;
    position: absolute;
    left: 140px;
    cursor: pointer;
    outline: none;
}
.banner__bt {
    top: 0;
    background: url(../img/banner__bt1.png);
}
.banner__bb {
    bottom: 0;
    background: url(../img/banner__bb1.png);
}
.banner__bt0 {
    background: url(../img/banner__bt0.png);
    cursor: default;
}
.banner__bb0 {
    background: url(../img/banner__bb0.png);
    cursor: default;
}
/*------------------------------*/
.map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
}
.map__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
}
.map__wrapper {
    margin: -240px 0 0 -320px;
    width: 640px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
}
/*------------------------------*/
/*------------------------------*/
.page-edit {
    margin: 0;
    width: 30px;
    height: 30px;
    overflow: visible;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 30px;
    font: normal 12px/28px 'PT Sans', sans-serif;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    background: #649bd2;
    color: #fff;
    outline: 0;
    cursor: pointer;
    opacity: .8;
}
.page-edit +
.page-edit {
    right: 50px;
}
.page-edit:hover,
.page-edit:focus {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
    text-shadow: 0 0 5px rgba(255, 255, 255, .8);
    color: #fff;
}
.page-edit:active {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .4) inset;
    color: #fff;
}
/*------------------------------*/
.notice {
    margin: 0 0 20px;
    padding: 0 10px;
    text-align: center;
    line-height: 50px;
    background: #bb9979;
    color: #fff;
}
.notice_red {
    background: #fc3018;
}
.notice_orange {
    background: #f58106;
}
.notice_blue {
    background: #5eb5be;
}
.notice_green {
    background: #a2d658;
}
/*------------------------------*/
.error:before {
    display: none;
}
.status-code {
    margin: 0 auto;
    padding: 0 0 10px;
    width: 350px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: calibri, arial, sans-serif;
    color: #333;
}
.status-code__error {
    margin: 0 0 30px -3px;
    font-size: 120px;
    line-height: 1;
}
.status-code__desc {
    margin: 0 0 10px;
}



























