/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.4.0');
  src: url('../font/fontawesome-webfont.eot?') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.4.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa_lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa_2x {
  font-size: 2em;
}
.fa_3x {
  font-size: 3em;
}
.fa_4x {
  font-size: 4em;
}
.fa_5x {
  font-size: 5em;
}
.fa_fw {
  width: 1.28571429em;
  text-align: center;
}
.fa_ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa_ul > li {
  position: relative;
}
.fa_li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa_li.fa_lg {
  left: -1.85714286em;
}
.fa_border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa_pull-left {
  float: left;
}
.fa_pull-right {
  float: right;
}
.fa.fa_pull-left {
  margin-right: .3em;
}
.fa.fa_pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa_spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa_pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa_rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa_rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa_rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa_flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa_flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa_rotate-90,
:root .fa_rotate-180,
:root .fa_rotate-270,
:root .fa_flip-horizontal,
:root .fa_flip-vertical {
  filter: none;
}
.fa_stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa_stack-1x,
.fa_stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa_stack-1x {
  line-height: inherit;
}
.fa_stack-2x {
  font-size: 2em;
}
.fa_inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa_glass:before {
  content: "\f000";
}
.fa_music:before {
  content: "\f001";
}
.fa_search:before {
  content: "\f002";
}
.fa_envelope-o:before {
  content: "\f003";
}
.fa_heart:before {
  content: "\f004";
}
.fa_star:before {
  content: "\f005";
}
.fa_star-o:before {
  content: "\f006";
}
.fa_user:before {
  content: "\f007";
}
.fa_film:before {
  content: "\f008";
}
.fa_th-large:before {
  content: "\f009";
}
.fa_th:before {
  content: "\f00a";
}
.fa_th-list:before {
  content: "\f00b";
}
.fa_check:before {
  content: "\f00c";
}
.fa_remove:before,
.fa_close:before,
.fa_times:before {
  content: "\f00d";
}
.fa_search-plus:before {
  content: "\f00e";
}
.fa_search-minus:before {
  content: "\f010";
}
.fa_power-off:before {
  content: "\f011";
}
.fa_signal:before {
  content: "\f012";
}
.fa_gear:before,
.fa_cog:before {
  content: "\f013";
}
.fa_trash-o:before {
  content: "\f014";
}
.fa_home:before {
  content: "\f015";
}
.fa_file-o:before {
  content: "\f016";
}
.fa_clock-o:before {
  content: "\f017";
}
.fa_road:before {
  content: "\f018";
}
.fa_download:before {
  content: "\f019";
}
.fa_arrow-circle-o-down:before {
  content: "\f01a";
}
.fa_arrow-circle-o-up:before {
  content: "\f01b";
}
.fa_inbox:before {
  content: "\f01c";
}
.fa_play-circle-o:before {
  content: "\f01d";
}
.fa_rotate-right:before,
.fa_repeat:before {
  content: "\f01e";
}
.fa_refresh:before {
  content: "\f021";
}
.fa_list-alt:before {
  content: "\f022";
}
.fa_lock:before {
  content: "\f023";
}
.fa_flag:before {
  content: "\f024";
}
.fa_headphones:before {
  content: "\f025";
}
.fa_volume-off:before {
  content: "\f026";
}
.fa_volume-down:before {
  content: "\f027";
}
.fa_volume-up:before {
  content: "\f028";
}
.fa_qrcode:before {
  content: "\f029";
}
.fa_barcode:before {
  content: "\f02a";
}
.fa_tag:before {
  content: "\f02b";
}
.fa_tags:before {
  content: "\f02c";
}
.fa_book:before {
  content: "\f02d";
}
.fa_bookmark:before {
  content: "\f02e";
}
.fa_print:before {
  content: "\f02f";
}
.fa_camera:before {
  content: "\f030";
}
.fa_font:before {
  content: "\f031";
}
.fa_bold:before {
  content: "\f032";
}
.fa_italic:before {
  content: "\f033";
}
.fa_text-height:before {
  content: "\f034";
}
.fa_text-width:before {
  content: "\f035";
}
.fa_align-left:before {
  content: "\f036";
}
.fa_align-center:before {
  content: "\f037";
}
.fa_align-right:before {
  content: "\f038";
}
.fa_align-justify:before {
  content: "\f039";
}
.fa_list:before {
  content: "\f03a";
}
.fa_dedent:before,
.fa_outdent:before {
  content: "\f03b";
}
.fa_indent:before {
  content: "\f03c";
}
.fa_video-camera:before {
  content: "\f03d";
}
.fa_photo:before,
.fa_image:before,
.fa_picture-o:before {
  content: "\f03e";
}
.fa_pencil:before {
  content: "\f040";
}
.fa_map-marker:before {
  content: "\f041";
}
.fa_adjust:before {
  content: "\f042";
}
.fa_tint:before {
  content: "\f043";
}
.fa_edit:before,
.fa_pencil-square-o:before {
  content: "\f044";
}
.fa_share-square-o:before {
  content: "\f045";
}
.fa_check-square-o:before {
  content: "\f046";
}
.fa_arrows:before {
  content: "\f047";
}
.fa_step-backward:before {
  content: "\f048";
}
.fa_fast-backward:before {
  content: "\f049";
}
.fa_backward:before {
  content: "\f04a";
}
.fa_play:before {
  content: "\f04b";
}
.fa_pause:before {
  content: "\f04c";
}
.fa_stop:before {
  content: "\f04d";
}
.fa_forward:before {
  content: "\f04e";
}
.fa_fast-forward:before {
  content: "\f050";
}
.fa_step-forward:before {
  content: "\f051";
}
.fa_eject:before {
  content: "\f052";
}
.fa_chevron-left:before {
  content: "\f053";
}
.fa_chevron-right:before {
  content: "\f054";
}
.fa_plus-circle:before {
  content: "\f055";
}
.fa_minus-circle:before {
  content: "\f056";
}
.fa_times-circle:before {
  content: "\f057";
}
.fa_check-circle:before {
  content: "\f058";
}
.fa_question-circle:before {
  content: "\f059";
}
.fa_info-circle:before {
  content: "\f05a";
}
.fa_crosshairs:before {
  content: "\f05b";
}
.fa_times-circle-o:before {
  content: "\f05c";
}
.fa_check-circle-o:before {
  content: "\f05d";
}
.fa_ban:before {
  content: "\f05e";
}
.fa_arrow-left:before {
  content: "\f060";
}
.fa_arrow-right:before {
  content: "\f061";
}
.fa_arrow-up:before {
  content: "\f062";
}
.fa_arrow-down:before {
  content: "\f063";
}
.fa_mail-forward:before,
.fa_share:before {
  content: "\f064";
}
.fa_expand:before {
  content: "\f065";
}
.fa_compress:before {
  content: "\f066";
}
.fa_plus:before {
  content: "\f067";
}
.fa_minus:before {
  content: "\f068";
}
.fa_asterisk:before {
  content: "\f069";
}
.fa_exclamation-circle:before {
  content: "\f06a";
}
.fa_gift:before {
  content: "\f06b";
}
.fa_leaf:before {
  content: "\f06c";
}
.fa_fire:before {
  content: "\f06d";
}
.fa_eye:before {
  content: "\f06e";
}
.fa_eye-slash:before {
  content: "\f070";
}
.fa_warning:before,
.fa_exclamation-triangle:before {
  content: "\f071";
}
.fa_plane:before {
  content: "\f072";
}
.fa_calendar:before {
  content: "\f073";
}
.fa_random:before {
  content: "\f074";
}
.fa_comment:before {
  content: "\f075";
}
.fa_magnet:before {
  content: "\f076";
}
.fa_chevron-up:before {
  content: "\f077";
}
.fa_chevron-down:before {
  content: "\f078";
}
.fa_retweet:before {
  content: "\f079";
}
.fa_shopping-cart:before {
  content: "\f07a";
}
.fa_folder:before {
  content: "\f07b";
}
.fa_folder-open:before {
  content: "\f07c";
}
.fa_arrows-v:before {
  content: "\f07d";
}
.fa_arrows-h:before {
  content: "\f07e";
}
.fa_bar-chart-o:before,
.fa_bar-chart:before {
  content: "\f080";
}
.fa_twitter-square:before {
  content: "\f081";
}
.fa_facebook-square:before {
  content: "\f082";
}
.fa_camera-retro:before {
  content: "\f083";
}
.fa_key:before {
  content: "\f084";
}
.fa_gears:before,
.fa_cogs:before {
  content: "\f085";
}
.fa_comments:before {
  content: "\f086";
}
.fa_thumbs-o-up:before {
  content: "\f087";
}
.fa_thumbs-o-down:before {
  content: "\f088";
}
.fa_star-half:before {
  content: "\f089";
}
.fa_heart-o:before {
  content: "\f08a";
}
.fa_sign-out:before {
  content: "\f08b";
}
.fa_linkedin-square:before {
  content: "\f08c";
}
.fa_thumb-tack:before {
  content: "\f08d";
}
.fa_external-link:before {
  content: "\f08e";
}
.fa_sign-in:before {
  content: "\f090";
}
.fa_trophy:before {
  content: "\f091";
}
.fa_github-square:before {
  content: "\f092";
}
.fa_upload:before {
  content: "\f093";
}
.fa_lemon-o:before {
  content: "\f094";
}
.fa_phone:before {
  content: "\f095";
}
.fa_square-o:before {
  content: "\f096";
}
.fa_bookmark-o:before {
  content: "\f097";
}
.fa_phone-square:before {
  content: "\f098";
}
.fa_twitter:before {
  content: "\f099";
}
.fa_facebook-f:before,
.fa_facebook:before {
  content: "\f09a";
}
.fa_github:before {
  content: "\f09b";
}
.fa_unlock:before {
  content: "\f09c";
}
.fa_credit-card:before {
  content: "\f09d";
}
.fa_feed:before,
.fa_rss:before {
  content: "\f09e";
}
.fa_hdd-o:before {
  content: "\f0a0";
}
.fa_bullhorn:before {
  content: "\f0a1";
}
.fa_bell:before {
  content: "\f0f3";
}
.fa_certificate:before {
  content: "\f0a3";
}
.fa_hand-o-right:before {
  content: "\f0a4";
}
.fa_hand-o-left:before {
  content: "\f0a5";
}
.fa_hand-o-up:before {
  content: "\f0a6";
}
.fa_hand-o-down:before {
  content: "\f0a7";
}
.fa_arrow-circle-left:before {
  content: "\f0a8";
}
.fa_arrow-circle-right:before {
  content: "\f0a9";
}
.fa_arrow-circle-up:before {
  content: "\f0aa";
}
.fa_arrow-circle-down:before {
  content: "\f0ab";
}
.fa_globe:before {
  content: "\f0ac";
}
.fa_wrench:before {
  content: "\f0ad";
}
.fa_tasks:before {
  content: "\f0ae";
}
.fa_filter:before {
  content: "\f0b0";
}
.fa_briefcase:before {
  content: "\f0b1";
}
.fa_arrows-alt:before {
  content: "\f0b2";
}
.fa_group:before,
.fa_users:before {
  content: "\f0c0";
}
.fa_chain:before,
.fa_link:before {
  content: "\f0c1";
}
.fa_cloud:before {
  content: "\f0c2";
}
.fa_flask:before {
  content: "\f0c3";
}
.fa_cut:before,
.fa_scissors:before {
  content: "\f0c4";
}
.fa_copy:before,
.fa_files-o:before {
  content: "\f0c5";
}
.fa_paperclip:before {
  content: "\f0c6";
}
.fa_save:before,
.fa_floppy-o:before {
  content: "\f0c7";
}
.fa_square:before {
  content: "\f0c8";
}
.fa_navicon:before,
.fa_reorder:before,
.fa_bars:before {
  content: "\f0c9";
}
.fa_list-ul:before {
  content: "\f0ca";
}
.fa_list-ol:before {
  content: "\f0cb";
}
.fa_strikethrough:before {
  content: "\f0cc";
}
.fa_underline:before {
  content: "\f0cd";
}
.fa_table:before {
  content: "\f0ce";
}
.fa_magic:before {
  content: "\f0d0";
}
.fa_truck:before {
  content: "\f0d1";
}
.fa_pinterest:before {
  content: "\f0d2";
}
.fa_pinterest-square:before {
  content: "\f0d3";
}
.fa_google-plus-square:before {
  content: "\f0d4";
}
.fa_google-plus:before {
  content: "\f0d5";
}
.fa_money:before {
  content: "\f0d6";
}
.fa_caret-down:before {
  content: "\f0d7";
}
.fa_caret-up:before {
  content: "\f0d8";
}
.fa_caret-left:before {
  content: "\f0d9";
}
.fa_caret-right:before {
  content: "\f0da";
}
.fa_columns:before {
  content: "\f0db";
}
.fa_unsorted:before,
.fa_sort:before {
  content: "\f0dc";
}
.fa_sort-down:before,
.fa_sort-desc:before {
  content: "\f0dd";
}
.fa_sort-up:before,
.fa_sort-asc:before {
  content: "\f0de";
}
.fa_envelope:before {
  content: "\f0e0";
}
.fa_linkedin:before {
  content: "\f0e1";
}
.fa_rotate-left:before,
.fa_undo:before {
  content: "\f0e2";
}
.fa_legal:before,
.fa_gavel:before {
  content: "\f0e3";
}
.fa_dashboard:before,
.fa_tachometer:before {
  content: "\f0e4";
}
.fa_comment-o:before {
  content: "\f0e5";
}
.fa_comments-o:before {
  content: "\f0e6";
}
.fa_flash:before,
.fa_bolt:before {
  content: "\f0e7";
}
.fa_sitemap:before {
  content: "\f0e8";
}
.fa_umbrella:before {
  content: "\f0e9";
}
.fa_paste:before,
.fa_clipboard:before {
  content: "\f0ea";
}
.fa_lightbulb-o:before {
  content: "\f0eb";
}
.fa_exchange:before {
  content: "\f0ec";
}
.fa_cloud-download:before {
  content: "\f0ed";
}
.fa_cloud-upload:before {
  content: "\f0ee";
}
.fa_user-md:before {
  content: "\f0f0";
}
.fa_stethoscope:before {
  content: "\f0f1";
}
.fa_suitcase:before {
  content: "\f0f2";
}
.fa_bell-o:before {
  content: "\f0a2";
}
.fa_coffee:before {
  content: "\f0f4";
}
.fa_cutlery:before {
  content: "\f0f5";
}
.fa_file-text-o:before {
  content: "\f0f6";
}
.fa_building-o:before {
  content: "\f0f7";
}
.fa_hospital-o:before {
  content: "\f0f8";
}
.fa_ambulance:before {
  content: "\f0f9";
}
.fa_medkit:before {
  content: "\f0fa";
}
.fa_fighter-jet:before {
  content: "\f0fb";
}
.fa_beer:before {
  content: "\f0fc";
}
.fa_h-square:before {
  content: "\f0fd";
}
.fa_plus-square:before {
  content: "\f0fe";
}
.fa_angle-double-left:before {
  content: "\f100";
}
.fa_angle-double-right:before {
  content: "\f101";
}
.fa_angle-double-up:before {
  content: "\f102";
}
.fa_angle-double-down:before {
  content: "\f103";
}
.fa_angle-left:before {
  content: "\f104";
}
.fa_angle-right:before {
  content: "\f105";
}
.fa_angle-up:before {
  content: "\f106";
}
.fa_angle-down:before {
  content: "\f107";
}
.fa_desktop:before {
  content: "\f108";
}
.fa_laptop:before {
  content: "\f109";
}
.fa_tablet:before {
  content: "\f10a";
}
.fa_mobile-phone:before,
.fa_mobile:before {
  content: "\f10b";
}
.fa_circle-o:before {
  content: "\f10c";
}
.fa_quote-left:before {
  content: "\f10d";
}
.fa_quote-right:before {
  content: "\f10e";
}
.fa_spinner:before {
  content: "\f110";
}
.fa_circle:before {
  content: "\f111";
}
.fa_mail-reply:before,
.fa_reply:before {
  content: "\f112";
}
.fa_github-alt:before {
  content: "\f113";
}
.fa_folder-o:before {
  content: "\f114";
}
.fa_folder-open-o:before {
  content: "\f115";
}
.fa_smile-o:before {
  content: "\f118";
}
.fa_frown-o:before {
  content: "\f119";
}
.fa_meh-o:before {
  content: "\f11a";
}
.fa_gamepad:before {
  content: "\f11b";
}
.fa_keyboard-o:before {
  content: "\f11c";
}
.fa_flag-o:before {
  content: "\f11d";
}
.fa_flag-checkered:before {
  content: "\f11e";
}
.fa_terminal:before {
  content: "\f120";
}
.fa_code:before {
  content: "\f121";
}
.fa_mail-reply-all:before,
.fa_reply-all:before {
  content: "\f122";
}
.fa_star-half-empty:before,
.fa_star-half-full:before,
.fa_star-half-o:before {
  content: "\f123";
}
.fa_location-arrow:before {
  content: "\f124";
}
.fa_crop:before {
  content: "\f125";
}
.fa_code-fork:before {
  content: "\f126";
}
.fa_unlink:before,
.fa_chain-broken:before {
  content: "\f127";
}
.fa_question:before {
  content: "\f128";
}
.fa_info:before {
  content: "\f129";
}
.fa_exclamation:before {
  content: "\f12a";
}
.fa_superscript:before {
  content: "\f12b";
}
.fa_subscript:before {
  content: "\f12c";
}
.fa_eraser:before {
  content: "\f12d";
}
.fa_puzzle-piece:before {
  content: "\f12e";
}
.fa_microphone:before {
  content: "\f130";
}
.fa_microphone-slash:before {
  content: "\f131";
}
.fa_shield:before {
  content: "\f132";
}
.fa_calendar-o:before {
  content: "\f133";
}
.fa_fire-extinguisher:before {
  content: "\f134";
}
.fa_rocket:before {
  content: "\f135";
}
.fa_maxcdn:before {
  content: "\f136";
}
.fa_chevron-circle-left:before {
  content: "\f137";
}
.fa_chevron-circle-right:before {
  content: "\f138";
}
.fa_chevron-circle-up:before {
  content: "\f139";
}
.fa_chevron-circle-down:before {
  content: "\f13a";
}
.fa_html5:before {
  content: "\f13b";
}
.fa_css3:before {
  content: "\f13c";
}
.fa_anchor:before {
  content: "\f13d";
}
.fa_unlock-alt:before {
  content: "\f13e";
}
.fa_bullseye:before {
  content: "\f140";
}
.fa_ellipsis-h:before {
  content: "\f141";
}
.fa_ellipsis-v:before {
  content: "\f142";
}
.fa_rss-square:before {
  content: "\f143";
}
.fa_play-circle:before {
  content: "\f144";
}
.fa_ticket:before {
  content: "\f145";
}
.fa_minus-square:before {
  content: "\f146";
}
.fa_minus-square-o:before {
  content: "\f147";
}
.fa_level-up:before {
  content: "\f148";
}
.fa_level-down:before {
  content: "\f149";
}
.fa_check-square:before {
  content: "\f14a";
}
.fa_pencil-square:before {
  content: "\f14b";
}
.fa_external-link-square:before {
  content: "\f14c";
}
.fa_share-square:before {
  content: "\f14d";
}
.fa_compass:before {
  content: "\f14e";
}
.fa_toggle-down:before,
.fa_caret-square-o-down:before {
  content: "\f150";
}
.fa_toggle-up:before,
.fa_caret-square-o-up:before {
  content: "\f151";
}
.fa_toggle-right:before,
.fa_caret-square-o-right:before {
  content: "\f152";
}
.fa_euro:before,
.fa_eur:before {
  content: "\f153";
}
.fa_gbp:before {
  content: "\f154";
}
.fa_dollar:before,
.fa_usd:before {
  content: "\f155";
}
.fa_rupee:before,
.fa_inr:before {
  content: "\f156";
}
.fa_cny:before,
.fa_rmb:before,
.fa_yen:before,
.fa_jpy:before {
  content: "\f157";
}
.fa_ruble:before,
.fa_rouble:before,
.fa_rub:before {
  content: "\f158";
}
.fa_won:before,
.fa_krw:before {
  content: "\f159";
}
.fa_bitcoin:before,
.fa_btc:before {
  content: "\f15a";
}
.fa_file:before {
  content: "\f15b";
}
.fa_file-text:before {
  content: "\f15c";
}
.fa_sort-alpha-asc:before {
  content: "\f15d";
}
.fa_sort-alpha-desc:before {
  content: "\f15e";
}
.fa_sort-amount-asc:before {
  content: "\f160";
}
.fa_sort-amount-desc:before {
  content: "\f161";
}
.fa_sort-numeric-asc:before {
  content: "\f162";
}
.fa_sort-numeric-desc:before {
  content: "\f163";
}
.fa_thumbs-up:before {
  content: "\f164";
}
.fa_thumbs-down:before {
  content: "\f165";
}
.fa_youtube-square:before {
  content: "\f166";
}
.fa_youtube:before {
  content: "\f167";
}
.fa_xing:before {
  content: "\f168";
}
.fa_xing-square:before {
  content: "\f169";
}
.fa_youtube-play:before {
  content: "\f16a";
}
.fa_dropbox:before {
  content: "\f16b";
}
.fa_stack-overflow:before {
  content: "\f16c";
}
.fa_instagram:before {
  content: "\f16d";
}
.fa_flickr:before {
  content: "\f16e";
}
.fa_adn:before {
  content: "\f170";
}
.fa_bitbucket:before {
  content: "\f171";
}
.fa_bitbucket-square:before {
  content: "\f172";
}
.fa_tumblr:before {
  content: "\f173";
}
.fa_tumblr-square:before {
  content: "\f174";
}
.fa_long-arrow-down:before {
  content: "\f175";
}
.fa_long-arrow-up:before {
  content: "\f176";
}
.fa_long-arrow-left:before {
  content: "\f177";
}
.fa_long-arrow-right:before {
  content: "\f178";
}
.fa_apple:before {
  content: "\f179";
}
.fa_windows:before {
  content: "\f17a";
}
.fa_android:before {
  content: "\f17b";
}
.fa_linux:before {
  content: "\f17c";
}
.fa_dribbble:before {
  content: "\f17d";
}
.fa_skype:before {
  content: "\f17e";
}
.fa_foursquare:before {
  content: "\f180";
}
.fa_trello:before {
  content: "\f181";
}
.fa_female:before {
  content: "\f182";
}
.fa_male:before {
  content: "\f183";
}
.fa_gittip:before,
.fa_gratipay:before {
  content: "\f184";
}
.fa_sun-o:before {
  content: "\f185";
}
.fa_moon-o:before {
  content: "\f186";
}
.fa_archive:before {
  content: "\f187";
}
.fa_bug:before {
  content: "\f188";
}
.fa_vk:before {
  content: "\f189";
}
.fa_weibo:before {
  content: "\f18a";
}
.fa_renren:before {
  content: "\f18b";
}
.fa_pagelines:before {
  content: "\f18c";
}
.fa_stack-exchange:before {
  content: "\f18d";
}
.fa_arrow-circle-o-right:before {
  content: "\f18e";
}
.fa_arrow-circle-o-left:before {
  content: "\f190";
}
.fa_toggle-left:before,
.fa_caret-square-o-left:before {
  content: "\f191";
}
.fa_dot-circle-o:before {
  content: "\f192";
}
.fa_wheelchair:before {
  content: "\f193";
}
.fa_vimeo-square:before {
  content: "\f194";
}
.fa_turkish-lira:before,
.fa_try:before {
  content: "\f195";
}
.fa_plus-square-o:before {
  content: "\f196";
}
.fa_space-shuttle:before {
  content: "\f197";
}
.fa_slack:before {
  content: "\f198";
}
.fa_envelope-square:before {
  content: "\f199";
}
.fa_wordpress:before {
  content: "\f19a";
}
.fa_openid:before {
  content: "\f19b";
}
.fa_institution:before,
.fa_bank:before,
.fa_university:before {
  content: "\f19c";
}
.fa_mortar-board:before,
.fa_graduation-cap:before {
  content: "\f19d";
}
.fa_yahoo:before {
  content: "\f19e";
}
.fa_google:before {
  content: "\f1a0";
}
.fa_reddit:before {
  content: "\f1a1";
}
.fa_reddit-square:before {
  content: "\f1a2";
}
.fa_stumbleupon-circle:before {
  content: "\f1a3";
}
.fa_stumbleupon:before {
  content: "\f1a4";
}
.fa_delicious:before {
  content: "\f1a5";
}
.fa_digg:before {
  content: "\f1a6";
}
.fa_pied-piper:before {
  content: "\f1a7";
}
.fa_pied-piper-alt:before {
  content: "\f1a8";
}
.fa_drupal:before {
  content: "\f1a9";
}
.fa_joomla:before {
  content: "\f1aa";
}
.fa_language:before {
  content: "\f1ab";
}
.fa_fax:before {
  content: "\f1ac";
}
.fa_building:before {
  content: "\f1ad";
}
.fa_child:before {
  content: "\f1ae";
}
.fa_paw:before {
  content: "\f1b0";
}
.fa_spoon:before {
  content: "\f1b1";
}
.fa_cube:before {
  content: "\f1b2";
}
.fa_cubes:before {
  content: "\f1b3";
}
.fa_behance:before {
  content: "\f1b4";
}
.fa_behance-square:before {
  content: "\f1b5";
}
.fa_steam:before {
  content: "\f1b6";
}
.fa_steam-square:before {
  content: "\f1b7";
}
.fa_recycle:before {
  content: "\f1b8";
}
.fa_automobile:before,
.fa_car:before {
  content: "\f1b9";
}
.fa_cab:before,
.fa_taxi:before {
  content: "\f1ba";
}
.fa_tree:before {
  content: "\f1bb";
}
.fa_spotify:before {
  content: "\f1bc";
}
.fa_deviantart:before {
  content: "\f1bd";
}
.fa_soundcloud:before {
  content: "\f1be";
}
.fa_database:before {
  content: "\f1c0";
}
.fa_file-pdf-o:before {
  content: "\f1c1";
}
.fa_file-word-o:before {
  content: "\f1c2";
}
.fa_file-excel-o:before {
  content: "\f1c3";
}
.fa_file-powerpoint-o:before {
  content: "\f1c4";
}
.fa_file-photo-o:before,
.fa_file-picture-o:before,
.fa_file-image-o:before {
  content: "\f1c5";
}
.fa_file-zip-o:before,
.fa_file-archive-o:before {
  content: "\f1c6";
}
.fa_file-sound-o:before,
.fa_file-audio-o:before {
  content: "\f1c7";
}
.fa_file-movie-o:before,
.fa_file-video-o:before {
  content: "\f1c8";
}
.fa_file-code-o:before {
  content: "\f1c9";
}
.fa_vine:before {
  content: "\f1ca";
}
.fa_codepen:before {
  content: "\f1cb";
}
.fa_jsfiddle:before {
  content: "\f1cc";
}
.fa_life-bouy:before,
.fa_life-buoy:before,
.fa_life-saver:before,
.fa_support:before,
.fa_life-ring:before {
  content: "\f1cd";
}
.fa_circle-o-notch:before {
  content: "\f1ce";
}
.fa_ra:before,
.fa_rebel:before {
  content: "\f1d0";
}
.fa_ge:before,
.fa_empire:before {
  content: "\f1d1";
}
.fa_git-square:before {
  content: "\f1d2";
}
.fa_git:before {
  content: "\f1d3";
}
.fa_y-combinator-square:before,
.fa_yc-square:before,
.fa_hacker-news:before {
  content: "\f1d4";
}
.fa_tencent-weibo:before {
  content: "\f1d5";
}
.fa_qq:before {
  content: "\f1d6";
}
.fa_wechat:before,
.fa_weixin:before {
  content: "\f1d7";
}
.fa_send:before,
.fa_paper-plane:before {
  content: "\f1d8";
}
.fa_send-o:before,
.fa_paper-plane-o:before {
  content: "\f1d9";
}
.fa_history:before {
  content: "\f1da";
}
.fa_circle-thin:before {
  content: "\f1db";
}
.fa_header:before {
  content: "\f1dc";
}
.fa_paragraph:before {
  content: "\f1dd";
}
.fa_sliders:before {
  content: "\f1de";
}
.fa_share-alt:before {
  content: "\f1e0";
}
.fa_share-alt-square:before {
  content: "\f1e1";
}
.fa_bomb:before {
  content: "\f1e2";
}
.fa_soccer-ball-o:before,
.fa_futbol-o:before {
  content: "\f1e3";
}
.fa_tty:before {
  content: "\f1e4";
}
.fa_binoculars:before {
  content: "\f1e5";
}
.fa_plug:before {
  content: "\f1e6";
}
.fa_slideshare:before {
  content: "\f1e7";
}
.fa_twitch:before {
  content: "\f1e8";
}
.fa_yelp:before {
  content: "\f1e9";
}
.fa_newspaper-o:before {
  content: "\f1ea";
}
.fa_wifi:before {
  content: "\f1eb";
}
.fa_calculator:before {
  content: "\f1ec";
}
.fa_paypal:before {
  content: "\f1ed";
}
.fa_google-wallet:before {
  content: "\f1ee";
}
.fa_cc-visa:before {
  content: "\f1f0";
}
.fa_cc-mastercard:before {
  content: "\f1f1";
}
.fa_cc-discover:before {
  content: "\f1f2";
}
.fa_cc-amex:before {
  content: "\f1f3";
}
.fa_cc-paypal:before {
  content: "\f1f4";
}
.fa_cc-stripe:before {
  content: "\f1f5";
}
.fa_bell-slash:before {
  content: "\f1f6";
}
.fa_bell-slash-o:before {
  content: "\f1f7";
}
.fa_trash:before {
  content: "\f1f8";
}
.fa_copyright:before {
  content: "\f1f9";
}
.fa_at:before {
  content: "\f1fa";
}
.fa_eyedropper:before {
  content: "\f1fb";
}
.fa_paint-brush:before {
  content: "\f1fc";
}
.fa_birthday-cake:before {
  content: "\f1fd";
}
.fa_area-chart:before {
  content: "\f1fe";
}
.fa_pie-chart:before {
  content: "\f200";
}
.fa_line-chart:before {
  content: "\f201";
}
.fa_lastfm:before {
  content: "\f202";
}
.fa_lastfm-square:before {
  content: "\f203";
}
.fa_toggle-off:before {
  content: "\f204";
}
.fa_toggle-on:before {
  content: "\f205";
}
.fa_bicycle:before {
  content: "\f206";
}
.fa_bus:before {
  content: "\f207";
}
.fa_ioxhost:before {
  content: "\f208";
}
.fa_angellist:before {
  content: "\f209";
}
.fa_cc:before {
  content: "\f20a";
}
.fa_shekel:before,
.fa_sheqel:before,
.fa_ils:before {
  content: "\f20b";
}
.fa_meanpath:before {
  content: "\f20c";
}
.fa_buysellads:before {
  content: "\f20d";
}
.fa_connectdevelop:before {
  content: "\f20e";
}
.fa_dashcube:before {
  content: "\f210";
}
.fa_forumbee:before {
  content: "\f211";
}
.fa_leanpub:before {
  content: "\f212";
}
.fa_sellsy:before {
  content: "\f213";
}
.fa_shirtsinbulk:before {
  content: "\f214";
}
.fa_simplybuilt:before {
  content: "\f215";
}
.fa_skyatlas:before {
  content: "\f216";
}
.fa_cart-plus:before {
  content: "\f217";
}
.fa_cart-arrow-down:before {
  content: "\f218";
}
.fa_diamond:before {
  content: "\f219";
}
.fa_ship:before {
  content: "\f21a";
}
.fa_user-secret:before {
  content: "\f21b";
}
.fa_motorcycle:before {
  content: "\f21c";
}
.fa_street-view:before {
  content: "\f21d";
}
.fa_heartbeat:before {
  content: "\f21e";
}
.fa_venus:before {
  content: "\f221";
}
.fa_mars:before {
  content: "\f222";
}
.fa_mercury:before {
  content: "\f223";
}
.fa_intersex:before,
.fa_transgender:before {
  content: "\f224";
}
.fa_transgender-alt:before {
  content: "\f225";
}
.fa_venus-double:before {
  content: "\f226";
}
.fa_mars-double:before {
  content: "\f227";
}
.fa_venus-mars:before {
  content: "\f228";
}
.fa_mars-stroke:before {
  content: "\f229";
}
.fa_mars-stroke-v:before {
  content: "\f22a";
}
.fa_mars-stroke-h:before {
  content: "\f22b";
}
.fa_neuter:before {
  content: "\f22c";
}
.fa_genderless:before {
  content: "\f22d";
}
.fa_facebook-official:before {
  content: "\f230";
}
.fa_pinterest-p:before {
  content: "\f231";
}
.fa_whatsapp:before {
  content: "\f232";
}
.fa_server:before {
  content: "\f233";
}
.fa_user-plus:before {
  content: "\f234";
}
.fa_user-times:before {
  content: "\f235";
}
.fa_hotel:before,
.fa_bed:before {
  content: "\f236";
}
.fa_viacoin:before {
  content: "\f237";
}
.fa_train:before {
  content: "\f238";
}
.fa_subway:before {
  content: "\f239";
}
.fa_medium:before {
  content: "\f23a";
}
.fa_yc:before,
.fa_y-combinator:before {
  content: "\f23b";
}
.fa_optin-monster:before {
  content: "\f23c";
}
.fa_opencart:before {
  content: "\f23d";
}
.fa_expeditedssl:before {
  content: "\f23e";
}
.fa_battery-4:before,
.fa_battery-full:before {
  content: "\f240";
}
.fa_battery-3:before,
.fa_battery-three-quarters:before {
  content: "\f241";
}
.fa_battery-2:before,
.fa_battery-half:before {
  content: "\f242";
}
.fa_battery-1:before,
.fa_battery-quarter:before {
  content: "\f243";
}
.fa_battery-0:before,
.fa_battery-empty:before {
  content: "\f244";
}
.fa_mouse-pointer:before {
  content: "\f245";
}
.fa_i-cursor:before {
  content: "\f246";
}
.fa_object-group:before {
  content: "\f247";
}
.fa_object-ungroup:before {
  content: "\f248";
}
.fa_sticky-note:before {
  content: "\f249";
}
.fa_sticky-note-o:before {
  content: "\f24a";
}
.fa_cc-jcb:before {
  content: "\f24b";
}
.fa_cc-diners-club:before {
  content: "\f24c";
}
.fa_clone:before {
  content: "\f24d";
}
.fa_balance-scale:before {
  content: "\f24e";
}
.fa_hourglass-o:before {
  content: "\f250";
}
.fa_hourglass-1:before,
.fa_hourglass-start:before {
  content: "\f251";
}
.fa_hourglass-2:before,
.fa_hourglass-half:before {
  content: "\f252";
}
.fa_hourglass-3:before,
.fa_hourglass-end:before {
  content: "\f253";
}
.fa_hourglass:before {
  content: "\f254";
}
.fa_hand-grab-o:before,
.fa_hand-rock-o:before {
  content: "\f255";
}
.fa_hand-stop-o:before,
.fa_hand-paper-o:before {
  content: "\f256";
}
.fa_hand-scissors-o:before {
  content: "\f257";
}
.fa_hand-lizard-o:before {
  content: "\f258";
}
.fa_hand-spock-o:before {
  content: "\f259";
}
.fa_hand-pointer-o:before {
  content: "\f25a";
}
.fa_hand-peace-o:before {
  content: "\f25b";
}
.fa_trademark:before {
  content: "\f25c";
}
.fa_registered:before {
  content: "\f25d";
}
.fa_creative-commons:before {
  content: "\f25e";
}
.fa_gg:before {
  content: "\f260";
}
.fa_gg-circle:before {
  content: "\f261";
}
.fa_tripadvisor:before {
  content: "\f262";
}
.fa_odnoklassniki:before {
  content: "\f263";
}
.fa_odnoklassniki-square:before {
  content: "\f264";
}
.fa_get-pocket:before {
  content: "\f265";
}
.fa_wikipedia-w:before {
  content: "\f266";
}
.fa_safari:before {
  content: "\f267";
}
.fa_chrome:before {
  content: "\f268";
}
.fa_firefox:before {
  content: "\f269";
}
.fa_opera:before {
  content: "\f26a";
}
.fa_internet-explorer:before {
  content: "\f26b";
}
.fa_tv:before,
.fa_television:before {
  content: "\f26c";
}
.fa_contao:before {
  content: "\f26d";
}
.fa_500px:before {
  content: "\f26e";
}
.fa_amazon:before {
  content: "\f270";
}
.fa_calendar-plus-o:before {
  content: "\f271";
}
.fa_calendar-minus-o:before {
  content: "\f272";
}
.fa_calendar-times-o:before {
  content: "\f273";
}
.fa_calendar-check-o:before {
  content: "\f274";
}
.fa_industry:before {
  content: "\f275";
}
.fa_map-pin:before {
  content: "\f276";
}
.fa_map-signs:before {
  content: "\f277";
}
.fa_map-o:before {
  content: "\f278";
}
.fa_map:before {
  content: "\f279";
}
.fa_commenting:before {
  content: "\f27a";
}
.fa_commenting-o:before {
  content: "\f27b";
}
.fa_houzz:before {
  content: "\f27c";
}
.fa_vimeo:before {
  content: "\f27d";
}
.fa_black-tie:before {
  content: "\f27e";
}
.fa_fonticons:before {
  content: "\f280";
}
